body{
    background:#e6e6e6
}
.main{
    width: 400px;
    margin: 100px auto;
    background:#FFC107;
    border-radius: 10px;
    padding: 20px;
}
h1{
    font-size: 25px;
    margin:10px 0;
    text-align: center;
    color: #fff;
}
.screen{padding: 10px 0;}
.result{height: 30px;background: #ffd26a;text-align: right;}
.btn-area{

}
.row{

}
.row:after{
    content:' ';
    display:block;
    clear: both;
}
.btn-area .btn{
    border: none;
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
}
.btn-area button{
    width:100%;
    background:#fff;
    border:none;
    height: 60px;
}